*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter;
  font-size: 14px;
  line-height: 1.5;
  color: black;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/*          COMMON          */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding-bottom: 1rem;
  height: 70px;
  width: 100%;
  padding-top: 21px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  transition: all .2s linear;
  
  z-index: 100;
}

.header__inner {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__items {
  align-items: center;
  display: inline-block;
  margin: 0px 17px;
  position: relative;
 
  transition: all 0.2s linear;
}

.nav__items:hover {
  color: #4964de;
}

.nav__items:after {
  content: '';
  opacity: 0;
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  z-index: 100;
  background-color: #4964de;
  transition: all .2s linear;
  position: absolute;
}

.nav__items:hover:after {
  opacity: 1;
}

.btn {
  text-align: center;
  background-color: #4964de;
  color: white;
  border-style: none;
  border-radius: 40px;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 16px;
  /* font-weight: bold; */
  
  transition: all 0.2s;
}

.btn:hover {
  filter: brightness(120%);
}

.btn:active {
  background-color: rgb(136, 138, 140)
}